.nav{
    float: right;
    margin-right: 30px;
    font-size: 17px;
    color: white;
    margin-top: 1.2%;
}
.header{
    background-color:rgb(76, 133, 150);
    height: 110px;
    margin-top: 5px;
    border-radius: 0px 0px 0px 20px;
   
}
.son{
    font-family: "Work Sans", sans-serif;
    color: white;
    font-family: monospace;
    padding-top: 0.9%;
    margin-left: 2%;
    font-size: 70;
}
#Hypotenuse-btn{
    background:rgb(76, 133, 150);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
    margin-top: 2%;
       
}

#output{
    text-align: center;
    margin-right: 1%;
    font-style: oblique;
    font-size: 200%;
    margin-top: 4%;
    color: rgb(76, 133, 150);
    font-weight: bold;

    
}
.side-input{
    font-size: large;
    display: block;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem auto;
    border: 2px solid rgb(76, 133, 150);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 325px;
    color: rgb(17, 17, 16);
}
.background{
    background-image: url('git.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 10; 
       

}
.cont{
    display: flex;
    flex-direction: column;
    width: 50vw;
    text-align: center;
    margin-left:24% ;

}
